

$bg-old: #0F172A;
$bg: #080D18;

$primary: #3235BE;
$secondary: #054E79;



$gradient-primary: linear-gradient(181.67deg, #2584B7 1.41%, #5C7AEA 1.43%, #3235BE 66.33%, #040782 125.58%);
$gradient-secondary: linear-gradient(180deg, #2584B7 0%, #23AAF2 0.02%, #194D69 77.56%, #0E3143 165.45%);

