---
// recibe un array y determina el tipo de dive a utilizar y con el formateo
import ImgMockup from "@/lib/ImgMockup/index.astro";

interface Props {
    pathsList: TypeGetImgsFromKey;
}
const { pathsList } = Astro.props;

const getSize = (elemet: ImgsFromKey): string => {
    const extension = elemet[0].split("/");
    const getsize: string = extension[extension.length - 1].split(".")[0];
    return getsize;
};
---

<style>
    .divice{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .divice-lg {
        height: 100%;
        position: relative;
    }
    .divice-md { width: 40%; }
    .divice-sm {
        width: 28%;
    }
</style>
<div class="w-full">
    <div class="flex min-h-80 h-full w-full items-center justify-center">

        <div class="relative mx-auto"> 
            {false && pathsList.map((e) => (
                
            <div
                class:list={[
                    "divice h-full w-auto",
                    "divice-" + getSize(e),
                ]}
            >
                {e[1]().then((r) => (
                    <ImgMockup
                        size={getSize(e) as SizeType}
                        pathMeta={r.default}
                    />
                ))}
            </div>
         ))}
            <!-- // pathsList.map((e) => ( -->
                
                <div
                    class:list={[
                        "divice flex w-auto items-center justify-center md:h-full",
                        "divice-" + getSize(pathsList[0]),
                    ]}
                >
                    {pathsList[0][1]().then((r) => (
                        <ImgMockup
                            size={getSize(pathsList[0]) as SizeType}
                            pathMeta={r.default}
                        />
                    ))}
                </div>
            <!-- // )) -->
        </div>

    </div>
</div>
