---
import bg from "@/assets/media/bg/PortfolioBg.png";
import HeaderText from "@/components/ui/HeaderText.astro";
// import dataPortfolio from "@/content/i18n/es/PortFolio_Items.json";
import Card from "@/components/ui/Card.astro";
import ImgMockup from "@/lib/ImgMockup/index.astro";

//  DataPortfolio
import UpisaImg from "@/assets/portfolio/upisa/lg.png";
import TATImg from "@/assets/portfolio/tat/lg.png";
import okconstructoraImg from "@/assets/portfolio/okconstructora/lg.png";
import Btn from "@/components/ui/Btn.astro";

const data = [
    {
        img: UpisaImg,
        name: "UPISA",
    },
    {
        img: TATImg,
        name: "TAT",
    },
    {
        img: okconstructoraImg,
        name: "OkConstructora",
    },
];
---

<style define:vars={{ image: `url("${bg.src}")` }}>
    section {
        position: relative;
    }

    section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100vw;
        width: 100%;
        height: 100%;

        z-index: -10;
        opacity: 0.7;
        filter: brightness(50%) contrast(120%);

        background-image: var(--image);
        background-position: 50% -20%;
        background-repeat: no-repeat;
    }
</style>

<section id="portfolio" class="text-white text-center">
    <div class="container flex-col flex items-center mx-auto h-full">
        <div
            class="flex items-center flex-col w-full h-max overflow-visible gap-4 mb-[5%]"
        >
            <HeaderText aling="center">
                <h1 slot="title" class="uppercase">Portafolio</h1>
                <h3 slot="description">
                    Conoce la calidad de mi trabajo
                </h3>
            </HeaderText>
        </div>

        <div class="flex flex-col md:flex-row justify-between gap-10 lg:gap-6  mb-4 items-center">
            {
                data.map((e) => (
                    <a class="w-full mx-auto" href="/portfolio">
                        <Card theme="primary" className={"pb-5 px-10 bg-black-dark bg-opacity-90"}>
                            <div class="w-[300px] mx-auto p-5">
                                <ImgMockup size={"lg"} pathMeta={e.img} />
                            </div>
                            <h4>{e.name}</h4>
                        </Card>
                    </a>
                ))
            }
        </div>

        <div class="mt-10 flex flex-col gap-5 items-center">
            <a
                href="/portfolio"
            >
                <Btn theme="primary" size="lg"> Portfolio </Btn>
            </a>
            <!-- <h4 class="text-xl md:text-3xl">
                ¡explora cómo puedo llevar tus ideas al siguiente nivel!
            </h4> -->
        </div>
    </div>
</section>
