/* /////////////////////////////////////////////////////////////// */
/* /////// GENERAL /////// */

body {
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}


/* /////////////////////////////////////////////////////////////// */
/* /////// FONTS /////// */

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter/Inter-VariableFont_slnt,wght.ttf') format('ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson/regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson/bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


body,
small,
.small {
	font-family: 'Atkinson', sans-serif;
	font-weight: 400;
	line-height: 1;
}

h1,
h2,
h3,
h4 {
	font-family: 'Inter', 'Atkinson', sans-serif;
	font-weight: 600;
	line-height: 1;
}


h1,
.h1 {
	font-size: 36px;
}

h2,
.h2 {
	font-size: 32px;
}

h3,
.h3 {
	font-size: 20px;
}

h4,
.h4 {
	font-size: 18px;
}

body {
	font-size: 14px;

}

small,
.small {
	font-size: 12px;
}

@media (min-width: 575px) {
	body {
		font-size: 16px;
	}

	small,
	.small {
		font-size: 14px;
	}

	h1,
	.h1 {
		font-size: 48px;
	}

	h2,
	.h2 {
		font-size: 36px;
	}

	h3,
	.h3 {
		font-size: 32px;
	}

	h4,
	.h4 {
		font-size: 20px;
	}

}


/* /////////////////////////////////////////////////////////////// */
/* /////// LAYOUT /////// */



/* /////////////////////////////////////////////////////////////// */
/* /////// UI /////// */