@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
a{
	text-decoration: none
}





.btn {
	@apply px-2 py-1 text-sm leading-none cursor-pointer rounded-[4px] transition-colors duration-300;
}

.btn-md {
	@apply px-3 py-2 text-xl leading-none cursor-pointer rounded-md;
}

.btn-lg {
	@apply px-4 py-2 text-3xl leading-none cursor-pointer rounded-lg;
}

/* primary */
.btn-primary {
	@apply border bg-black-dark border-primary hover:shadow-sm hover:shadow-primary text-white hover:bg-primary hover:text-white;
}

.border-box-primary {
	@apply transition-shadow duration-500 border border-primary shadow-primary text-white hover:shadow-primary hover:shadow-[0px_0px_30px_0px];
}

/* secondary */
.btn-secondary {
	@apply border bg-black-dark border-secondary hover:shadow-sm hover:shadow-secondary text-white hover:bg-secondary hover:text-white;
}

.border-box-secondary {
	@apply transition-shadow duration-500 border border-secondary shadow-secondary text-white hover:shadow-secondary hover:shadow-[0px_0px_30px_0px];
}

/* danger */
.btn-danger {
	@apply border bg-black-dark border-danger hover:shadow-sm hover:shadow-danger text-white hover:bg-danger hover:text-white;
}

.border-box-danger {
	@apply transition-shadow duration-500 border border-danger shadow-danger text-white hover:shadow-danger hover:shadow-[0px_0px_30px_0px];
}

/* purple */
.btn-purple {
	@apply border bg-black-dark border-purple hover:shadow-sm hover:shadow-purple text-white hover:bg-purple hover:text-white;
}

.border-box-purple {
	@apply transition-shadow duration-500 border border-purple shadow-purple text-white hover:shadow-purple hover:shadow-[0px_0px_30px_0px];
}

/* blue */
.btn-blue {
	@apply border bg-black-dark border-blue hover:shadow-sm hover:shadow-blue text-white hover:bg-blue hover:text-white;
}

.border-box-blue {
	@apply transition-shadow duration-500 border border-blue shadow-blue text-white hover:shadow-blue hover:shadow-[0px_0px_30px_0px];
}


/* Fonts */

.heroTitle {
	color: black;
	margin-bottom: 4px;
	text-shadow:
		1px 1px 1px #000000,
		-2px 2px 6px #464aa9,
		2px -2px 6px #6459ff;

	line-height: var(--sl-line-height-headings);

	&> span {
		text-shadow: 1px 1px 1px #000000;
	}

	
}

