@use '@/styles/variables' as v;

.modalbg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(39, 39, 39, 0.781);
}

.card {
    position: relative;

        margin: auto;
        width: 500px;
        height: 250px;
        background-color: v.$light_blue;
        border: 1px solid white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: black;
        .header{
            display: flex;
            padding: 10px 28px;        
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            background-color: v.$grey_light2;
        }
        .body{
            padding: 0px 28px;
        }
        .footer{
            padding: 10px 28px;        
            background-color: v.$grey_light2;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        button{
            position: absolute;
            top: 0;
            right: 0;
            background: red;
        }

    }