---
import bg from "@/assets/media/bg/hero-haker-hoodie_100.png";
import Btn from "@/components/ui/Btn.astro";
---

<style define:vars={{ image: `url("${bg.src}")` }}>
    .home_hero {
        background: linear-gradient(rgb(0 0 0 / 64%), rgb(0 0 0 / 0%)),
            var(--image);
        background-position: 50% 50%;
        background-origin: content-box;
        background-repeat: no-repeat;
        box-shadow: inset 0px -2rem 15rem 2rem rgb(0 0 0);
        background-size: 150%;
        background-attachment: fixed;
    }
    @media (min-width: 768px) {
        .home_hero {
            box-shadow: inset 0px 1rem 9rem 11rem rgb(0 0 0);
            background-size: 80%;
        }
    }
  

    .heroTitle {
        color: black;
        margin-bottom: 4px;
        text-shadow:
            1px 1px 1px #000000,
            -2px 2px 6px #a9468b,
            2px -2px 6px #000000;

        line-height: var(--sl-line-height-headings);

        & > span.text-secondary {
            text-shadow:
                1px 1px 1px #000000,
                -2px 2px 6px #003750,
                2px -2px 6px #003750;
            line-height: var(--sl-line-height-headings);
        }
        & > span.text-primary {
            text-shadow:
                1px 1px 1px #000000,
                -2px 2px 6px #33368d,
                2px -2px 6px #33368d;
            line-height: var(--sl-line-height-headings);
        }
    }
</style>

<article
    id="home"
    class="home_hero text-white text-center relative max-h-min overflow-auto bg-fixed md:pt-[15%]"
>
    <div class="container flex flex-col justify-center items-center mx-auto h-full ">
     
            <h1
                class="text-4xl md:text-6xl font-bold uppercase heroTitle !text-danger"
            >
                <span class="text-primary">Diseño</span>
                &
                <span class="text-secondary">Desarrollo</span>
                de <br class="hidde md:flex" />
                software full-stack
            </h1>

            <h2 class="text-xl md:text-3xl">
                Crea de aplicaciones y sistemas escalables <br> 
                Convierte conceptos en código funcional y eficiente con una interfaz de usuario atractiva funcional
            </h2>

            <div class="flex  gap-4">
                
                <a href="/portafolio">
                    <Btn theme="primary" size="lg"> Portfolio </Btn>
                </a>

                <a href="/#contact">
                    <Btn theme="secondary"  size="lg"> Contacto </Btn>
                </a>
            </div>
    </div>
</article>
