---
import "@/assets/styles/ui_components.css"
import "@/assets/styles/fonts.css"
import "@/assets/styles/layout.css"
import "@/assets/styles/theme.css"

import BaseHead from "@/components/layouts/BaseHead.astro";
import Navbar from "@/components/layouts/Navbar/index.astro";
import Footer from "@/components/layouts/Footer/index.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/content/consts";
---

<!doctype html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <body class="bg-black-dark">
        <Navbar />

        <main class="">
            <slot />
        </main>

        <!-- <Footer /> -->
    </body>
</html>
