---
// const bord = require('/src/assets/svg/nav/Interface.svg')

import { pages } from "@consts";

import SvgBgMovil from "./BgMovil.svg";
---

<nav
    class="fixed inset-x-0 bottom-0 flex justify-center sm:top-0 sm:bottom-auto z-[1000]"
>
    <div
        class="w-full min-h-min sm:h-auto sm:flex justify-between items-center container"
    >
        <img
            src={SvgBgMovil.src}
            alt=""
            class="sm:hidden absolute w-full translate-y-[-20%] scale-[105%] z-[-1]"
        />

        <h4 class="hidden sm:flex">CodeRagnarok</h4>

        <div class="flex items-center justify-around pt-10 pb-2 sm:py-2 gap-3">
            {
                pages.map((v) => (
                    <a
                        href={"#" + v}
                        class="
                        flex flex-col  items-center cursor-pointer min-w-[48px] 
                        p-1 rounded-lg gap-1
                        px-2 
                        border-b-2 border-transparent
                        bg-primary bg-opacity-40 hover:bg-opacity-100
                        hover:border-white
                        transition-colors duration-700
                        sm:flex-row
                        sm:rounded-[4px]
                        "
                    >
                        <img
                            class="h-6 w-6 sm:h-4 sm:w-4"
                            src={`../../assets/svg/nav/${v}.svg`}
                            alt={"#" + v}
                        />
                        {v}
                    </a>
                ))
            }
        </div>
    </div>
</nav>

<style>
    nav {
        background: linear-gradient(
            180deg,
            rgba(74, 108, 226, 0) 0%,
            #464aa9 100%
        );
    }
</style>
