---
import Layout from "@/components/layouts/Mobile.astro";
import Skills from "@/components/sections/Skills.astro";

import HomeHero from "@/components/sections/HomeHero.astro";
import Portfolio from "@/components/sections/Portfolio/Home.astro";
import PortfolioPage from "@/components/sections/Portfolio/Page.astro";
---

<Layout>

    <section >
        <HomeHero />
        <Portfolio />
        <Skills />
    </section>
    
    <PortfolioPage />

</Layout>
