---
import Layout from "@layouts/index.astro";
import Skills from "@sections/Skills.astro";

import HomeHero from "@sections/HomeHero.astro";
import Portfolio from "@sections/Portfolio/Home.astro";
import Socials from "@sections/Socials.astro";
---

<Layout locale="es" basePath="/">
    <section><HomeHero locale="es" basePath="/" /></section>
    <section><Portfolio locale="es" basePath="/" /></section>
    <section><Skills locale="es" /></section>
    <section><Socials locale="es" /></section>
</Layout>
