---
import Mobile from "@/layouts/Mobile.astro";
// import Skills from '@/components/Skills.astro';
// import Portafolio from '@/constent/docs/portafolio/index.mdx'
---

<Mobile>
    <section id="home">
        <article  class=" relative container flex items-center">
           

            <div
                class="flex w-full items-center flex-col-reverse md:flex-row h-max overflow-visible"
            >
                <div class="w-full text-center md:text-left  ">
                    <h1 class="tet-5xl md:text-7xl heroTitle">
                        <span class="text-secondary">Desarrollo</span> & <span
                            class="text-primary">Diseño</span
                        > de software de calidad
                    </h1>
                    <hr class="" />
                    <h4 class="">
                        materializa tu idea de negocio digital con CodeRagnarok
                    </h4>
                    <div
                        class="flex flex-wrap flex-row items-center md:justify-start  w-full py-4 justify-center gap-4"
                    >
                        <div class="btn-lg btn-primary border-box-primary text-nowrap">
                            Get Started
                        </div>
                        <div class="btn-lg btn-secondary border-box-secondary">
                            Contacto
                        </div>
                    </div>
                </div>

                <img
                    class="absolute inset-0 w-full -z-10 opacity-60
                    md:left-auto md:right-[10%] md:w-auto 
                    "
                    src="/assets/haker.png"
                    alt="desarrollador de aplicaciones y software"
                />
            </div>
            
            

        </article>


        <article>
            <h1>hola mundo</h1>
        </article>
    </section>

    <section id="services">
        <article>
            <h1>hola mundo</h1>
        </article>
        <article>
            <h1>hola mundo</h1>
        </article>
    </section>

    <section id="portfolio">
        <article>
            <h1>hola mundo</h1>
        </article>
        <article>
            <h1>hola mundo</h1>
        </article>
    </section>
</Mobile>
