---
import Layout from "@/components/layouts/index.astro";
import Skills from "@/components/sections/Skills.astro";

import HomeHero from "@/components/sections/HomeHero.astro";
import Portfolio from "@/components/sections/Portfolio/Home.astro";
import Socials from "@/components/sections/Socials.astro";

---

<Layout>
    <section><HomeHero /></section>
    <section><Portfolio /></section>
    <section ><Skills /></section>
    <section><Socials /></section>
</Layout>
