---
import Layout from "@layouts/index.astro";
import Skills from "@sections/Skills.astro";

import HomeHero from "@sections/HomeHero.astro";
import Portfolio from "@sections/Portfolio/Home.astro";
import Socials from "@sections/Socials.astro";

---

<Layout>
    <section><HomeHero /></section>
    <section><Portfolio /></section>
    <section ><Skills /></section>
    <section><Socials /></section>
</Layout>
