---
import Mobile from "@/components/layouts/Mobile.astro";
import Skills from "@/components/Skills.astro";

import Contact from "@/components/layouts/Footer/Contact.astro";
import HeaderText from "@/components/ui/HeaderText.astro";

import Icons from '@/assets/icon.astro'
import type {IconType} from '@/assets/icon.astro'

import {socialLinks} from '@/content/consts'
import Portfolio from '@/components/Portfolio.astro'
---

<Mobile>
        
    <section id="portfolio"
    >
    <!-- class="bg-center bg-fixed bg-opacity-60 bg-[url('/assets/bg/bg-skills.png')]" -->
        <img
        class="absolute opacity-50 object-fixed object-left inset-0 h-auto -z-10"
        src="/assets/bg/bg-skills.png"
        alt=""
    />
        <Portfolio/>
    </section>

    <section id="home">
        <article class="relative container flex items-center">
            <div
                class="flex w-full items-center flex-col-reverse md:flex-row h-max overflow-visible"
            >
                <div class="w-full text-center md:text-left">
                    <h1 class="tet-5xl md:text-7xl heroTitle">
                        <span class="text-secondary">Desarrollo</span> & <span
                            class="text-primary">Diseño</span
                        > de <br class="hidde md:flex"> software de calidad
                    </h1>
                    <hr class="" />

                    <div>

                    

                </div>
                    
                        
                    <h4 class="">
                        materializa tu idea de negocio digital con CodeRagnarok
                    </h4>
                    <div
                        class="flex flex-wrap flex-row items-center md:justify-start w-full py-4 justify-center gap-4"
                    >
                        <div
                            class="btn-lg btn-primary border-box-primary text-nowrap"
                        >
                            Get Started
                        </div>
                        <div class="btn-lg btn-secondary border-box-secondary">
                            Contacto
                        </div>
                    </div>
                </div>

                <img
                    class="absolute inset-0 w-full -z-10 opacity-60
                    md:left-auto md:right-[10%] md:w-auto"
                    src="/assets/haker.png"
                    alt="desarrollador de aplicaciones y software"
                />
            </div>
        </article>
    </section>

   

    <section id="services" class="relative">
        <img
        class="absolute object-fixed inset-y-0 right-0 -z-10"
        src="/assets/bg/bg-skills.png"
        alt=""
    />

        <article
            class="overflow-y-scroll container pb-24 pt-4 md:pb-0 md:pt-[5rem]"
        >
            <div>
                <Skills />
                
            </div>
        </article>

        <article><h1>hola mundo</h1></article>
    </section>

  

   
    <section  id="contact" class="relative">
        <img
        class="absolute object-fixed inset-y-0 -right-[5px] -z-10 opacity-85 w-full "
        src="/assets/bg/bg1.png"
        alt=""
    />

        <article class="container flex justify-center items-center">
            <div>
                <HeaderText aling="center">
                    <h1 slot="title" class="uppercase">contacto</h1>
                    <h4 slot="description">
                        ¿Tienes alguna pregunta o proyecto en mente? No dudes en
                        ponerte en contacto conmigo.
                    </h4>
                </HeaderText>

                <div class="mt-[10%] max-w-[500px] mx-auto">
                    <Contact />
                </div>
            </div>
        </article>

        <article class="container flex justify-center items-center">
            <div>
                <HeaderText aling="center">
                    <h1 slot="title" class="uppercase">Redes Sociales</h1>
                    <h4 slot="description">
                        Sigueme en mis redes sociales para estar al día con mis últimos proyectos y publicaciones.
                    </h4>
                </HeaderText>

                <div class="mt-[10%] max-w-[500px] mx-auto flex justify-around items-center">
                    {socialLinks.map(e=>
                        <Icons size={"55px"}  icon={e.icon as IconType } />
                )}
    
                </div>
            </div>
        </article>

      
    </section>
</Mobile>
