---
import Layout from "@/components/layouts/index.astro";
import Btn from "@/components/ui/Btn.astro";
---

<Layout>
    <div class="container h-screen pt-20 inline-block ">
        <div class="flex w-full h-full items-center justify-center">

            <div class="flex items-center gap-4 mt-20">
                <!-- <Btn theme="primary"> primary </Btn>
                <Btn theme="purple"> purple </Btn> -->

                <Btn theme="secondary" size="sm"> secondary </Btn>
                <Btn theme="blue" size="lg"> blue </Btn>
                <Btn theme="danger" size="md"> danger </Btn>
            </div>
        </div>
    </div>
</Layout>
