---

---

<style>
    section::before {
        content: "";
        position: absolute;
        inset: 0;

        background-image: url("/assets/bg/bg-hero.png");
        /* transform: rotate(30deg); */
        background-position: 0px;
        background-size: 80%;
        transform: scale(1.5);
        background-repeat: no-repeat;
    }
    h1 {
        color: black;
        margin-bottom: 4px;
        text-shadow:
            1px 1px 1px #000000,
            -2px 2px 6px #464aa9,
            2px -2px 6px #6459ff;
    }
</style>

<section
    class="relative container inline-flex flex-col xs:justify-center text-center sm:text-left"
>
    <!-- <img
        class="absolute inset-y-0 left-0 -z-10 object-center bg-no-repeat rotate-90"
        src="/assets/bg/bg-hero.png"
        alt="desarrollador de aplicaciones y software"
    /> -->

    <div class="inline-flex flex-col gap-6 relative z-50">
        <h1 class="uppercase">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
            nobis velit explicabo, porro
        </h1>
        <h4 class="">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
            facilis optio harum. Consectetur rerum quisquam dolorem optio
            veritatis accusantium debitis eum quibusdam, dolor pariatur ducimus!
            Quia vitae perspiciatis culpa eveniet!
        </h4>
        <div
            class="flex flex-col sm:flex-row items-center sm:items-start w-full py-4 sm:justify-start gap-4"
        >
            <div class="btn-lg btn-primary border-box-primary">Get Started</div>
            <div class="btn-lg btn-secondary border-box-secondary">
                Contacto
            </div>
        </div>
    </div>

    <img
        class="h-auto w-[500px] absolute inset-y-0 right-0 -z-10"
        src="/assets/bg/haker.png"
        alt="desarrollador de aplicaciones y software"
    />
</section>
