---

---

<style>
    section::before {
        content: "";
        position: absolute;
        inset: 0;

        background-image: url("/assets/bg/bg-hero.png");
        /* transform: rotate(30deg); */
        background-position: -100px 30deg;
        background-size: 80%;
        background-repeat: no-repeat;
    }
    h1 {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.24);
    }
    img {
        filter: opacity(0.5);
    }
</style>

<section
    class="relative container inline-flex flex-col justify-center text-center sm:text-left"
>
    <img
        class="absolute inset-y-0 left-0 z-0 object-center bg-no-repeat rotate-90"
        src="/assets/bg/bg-hero.png"
        alt="desarrollador de aplicaciones y software"
    />

    <h1 class="relative z-50 text-primary drop-shadow-md">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis
        velit explicabo, porro
    </h1>
    <h4 class="relative z-50">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
        facilis optio harum. Consectetur rerum quisquam dolorem optio veritatis
        accusantium debitis eum quibusdam, dolor pariatur ducimus! Quia vitae
        perspiciatis culpa eveniet!
    </h4>

    <img
        class="h-auto w-[500px] absolute inset-y-0 right-0 z-10"
        src="/assets/bg/haker.png"
        alt="desarrollador de aplicaciones y software"
    />
</section>
