<style>
    /* .bg-section {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -4;
        background-image: url("/assets/bg/bg-hero.png");
        transform: rotate(30deg);
        background-position: 50%;
        background-size: 80%;
        transform: scale(1.5);
        background-repeat: no-repeat;
    } */
    h1 {
        color: black;
        margin-bottom: 4px;
        text-shadow:
            1px 1px 1px #000000,
            -2px 2px 6px #464aa9,
            2px -2px 6px #6459ff;
    }
    h1 span {
        text-shadow: 1px 1px 1px #000000;
    }
    .hero {
        display: grid;
        align-items: center;
        gap: 1rem;
    }

    .hero > img,
    .hero > .hero-html {
        object-fit: contain;
        width: min(70%, 20rem);
        height: auto;
        margin-inline: auto;
    }

    .stack {
        margin-top: -15rem !important;
        flex-direction: column;
        gap: clamp(1.5rem, calc(1.5rem + 1vw), 2rem);
        text-align: center;
    }

    h1 {
        font-size: clamp(
            var(--sl-text-3xl),
            calc(0.25rem + 5vw),
            var(--sl-text-6xl)
        );
        line-height: var(--sl-line-height-headings);
        font-weight: 600;
        color: var(--sl-color-white);
    }

    @media (min-width: 50rem) {
        .hero {
            grid-template-columns: 7fr 4fr;
            gap: 3%;
            margin-top: -10rem;
            padding-block: clamp(2.5rem, calc(1rem + 10vmin), 10rem);
        }

        .hero > img,
        .hero > .hero-html {
            order: 2;
            width: min(100%, 25rem);
        }

        .stack {
            margin-top: 0 !important;
            text-align: start;
        }
    }
</style>

<section id="about" class="hero">
    <!-- <img
        class="bg-section"
        src="/assets/bg/bg-hero.png"
        alt="desarrollador de aplicaciones y software"
    /> -->

    <img
        class=""
        src="/assets/haker.png"
        alt="desarrollador de aplicaciones y software"
    />

    <div class="stack">
        <h1 class="uppercase">
            <span class="text-secondary">Desarrollo</span> & <span
                class="text-primary">Diseño</span
            > de <br /> software de calidad
        </h1>
        <hr class="" />
        <h4 class="">
            materializa tu idea de negocio digital con CodeRagnarok
        </h4>
        <div
            class="flex flex-col sm:flex-row items-center sm:items-start w-full py-4 justify-center gap-4"
        >
            <div class="btn-lg btn-primary border-box-primary">Get Started</div>
            <div class="btn-lg btn-secondary border-box-secondary">
                Contacto
            </div>
        </div>
    </div>
</section>
