---
import HeaderText from '@/components/ui/HeaderText.astro'
---

    <article class="container flex justify-center items-center">
        <div>
            <HeaderText aling="center">
                <h1 slot="title" class="uppercase">Portafolio</h1>
                <h4 slot="description">
                    Sigueme en mis redes sociales para estar al día con mis últimos proyectos y publicaciones.
                </h4>
            </HeaderText>

            <div class="mt-[10%] max-w-[500px] mx-auto flex justify-around items-center">
             

            </div>
        </div>
    </article>

    <article>
        <h1>hola mundo</h1>
    </article>

