---
import HeaderText from "@components/ui/HeaderText.astro";
import Tag from "@components/ui/Tag.astro";
---

<div class="container">
    <HeaderText
        title="Portafolio de proyectos"
        aling="center"
        description="Nuestro propósito es ayudar a las personas a alcanzar sus objetivos emprendedores y convertirse en líderes en sus campos. Nos esforzamos por ser una organización disruptiva y acogedora que fomente el crecimiento y el desarrollo personal de nuestros miembros."
    />
</div>
