---
import HeaderText from "./ui/HeaderText.astro";

const skills = ["", "", ""];
---

<style>
    section::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/assets/bg/bg-skills.png");
        background-position: 200px;
        scale: 0.8;
        /* background-position: center; */
        z-index: -1;
    }
</style>

<section class="container relative">
    <HeaderText
        title="¿Cómo puedo ayudarte a impulsar tu negocio?"
        aling="center"
        description="Nuestro propósito es ayudar a las personas a alcanzar sus objetivos emprendedores y convertirse en líderes en sus campos. Nos esforzamos por ser una organización disruptiva y acogedora que fomente el crecimiento y el desarrollo personal de nuestros miembros."
    />

    <div
        class="flex flex-col items-center gap-10 justify-between my-[5%] h-full"
    >
        {
            skills.map((v) => (
                <div class="flex gap-4">
                    <div class="bg-white rounded-full h-full aspect-square">
                        <img
                            class="w-[150px] "
                            src="/assets/skills/desing.png"
                            alt=""
                        />
                    </div>

                    <div
                        class={`inline-flex flex-col justify-center gap-2  overflow-hidden`}
                    >
                        <div class="w-min ">
                            <h4 class="w-max uppercase">desing</h4>

                            <svg
                                class="w-full scale-150"
                                height="1"
                                viewBox="0 0 790 2"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M395 0L673.954 0.292893L789.5 1L673.954 1.70711L395 2L116.046 1.70711L0.5 1L116.046 0.292893L395 0Z"
                                    fill="#D3D3D3"
                                />
                            </svg>
                        </div>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ab impedit praesentium earum nulla totam
                            ipsam. Quis assumenda, Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            ))
        }
    </div>
    <div class="flex justify-center">
        <div class="btn-lg btn-secondary border-box-secondary">
            Contactar ahora
        </div>
    </div>
</section>
