---
import BaseHead from "@layouts/BaseHead.astro";
import Navbar from "./ui/Navbar/index.astro";
import Footer from "./ui/Footer/index.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";
---

<!doctype html>
<html lang="en">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}>
        <style is:global></style>
    </BaseHead>
    <body class="bg-black-dark text-white w-full overflow-x-hidden">
        <Navbar />

        <main class="inline-flex flex-col w-full overflow-x-hidden">
            <slot />
        </main>

        <Footer />
        <script src="./theme.js"></script>
    </body>
</html>
