---


interface Props{
    theme: "primary" | "secondary",
    className?: "string"
}


const {theme, className} = Astro.props
---

<style>

</style>

<div class=`
transition-shadow duration-500 border border-${theme} shadow-${theme} hover:shadow-${theme}  text-white 
shadow-[0px_0px_10px_0px] 
bg-black-dark bg-opacity-30
hover:shadow-[0px_0px_30px_10px] 
rounded-md p-1
`>

    <slot >
</div>

<script define:vars={{className:className}}>
    if(className){

    }

</script>
